body {
    background-color: rgb(54, 181, 219);
}

h1 {
    color: black;
    font-family: Verdana;
    font-size: 2vw;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

h2 {
    color: black;
    font-family: Verdana;
    font-size: 2vw;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

h3 {
    color: black;
    text-align: center;
}

ul {
    width: 10%;
    margin: auto;
}